services:
  nergal-bot:
    build: .
    container_name: nergal-bot
    restart: unless-stopped
    env_file:
      - .env
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
